[Desktop Entry]
Name=Control Panel
Comment=Adjust your computer's settings
Exec=control
Icon=org.gnome.Settings-symbolic
Terminal=false
Type=Application
Categories=Settings;
